<!DOCTYPE html>

<html>
<head>
    <title>Django Form</title>
</head>
<body>
    <h2>Create Unit Outline</h2>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="back" value="back">
        <input type="submit" name="save" value="save">
        {% if unit %}
        <table>
            {% for item in unit %}
            <tr>
                <td>{{item.Unit}}</td>
                <td>{{item.File}}</td>
                <td><input type="submit" value="{{item.id}}" name="delete">
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <strong>No data!!</strong>
        {% endif %}
    </form>
</body>
</html>