<!DOCTYPE html>

<html>
<head>
    <title>Django Form</title>
</head>
<body>
    <h2>Create Unit Outline</h2>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="container">
            <div>{{form.Class}}</div>
            <div>{{form.Unit}}</div>
            <div>{{form.Description}}</div>
            <input type="submit" name="delete" value="{{item.id}}">
        </div>

        {% for taskform in formset %}
        <table>
            <tr>
                <td>Task</td>
                <td>DueDate</td>
                <td>Weight %</td>
            </tr>
            <tr>
                <td>{{taskform.Task}}</td>
                <td>{{taskform.DueDate}}</td>
                <td>{{taskform.Weight}}</td>
            </tr>
        </table>
        {% endfor %}
        <input type="submit" name="back" value="back">
        <input type="submit" name="save" value="save">

        <div class="container">
            <div>{{item.Class}}</div>
            <div>{{item.Unit}}</div>
            <div>{{item.Description}}</div>
            <div>{{item.Assessment}}</div>
            <input type="submit" name="delete" value="{{item.id}}">
        </div>

    
    </form>
</body>
</html>